@import '../../../config-scss/rem-calc.scss';

// host: mexe dentro do elemento dentro deste componente.
// caso tenha uma tag igual em outro componente, elas nao se confundem.
:host{
    header{
        display: flex;
        justify-content: center;
        align-items: center;

        padding: rem-calc(40) 0;
    }
}